<!-- src/app/user-profile/user-profile.component.html -->
<app-nav-bar></app-nav-bar>

<div>
  <mat-card class="update-container">
    <mat-card-header class="update-header">

      <mat-card-title class="update-title">
        Update Your Profile
      </mat-card-title>

    </mat-card-header>

    <mat-card-content>

      <form>
        <mat-form-field>
          <mat-hint>Username must be at least 6 characters</mat-hint>
          <input matInput class="input" [(ngModel)]="userData.Username" placeholder="Username" type="text"
            name="Username" required />
        </mat-form-field>

        <mat-form-field>
          <mat-hint>Password must be at least 6 characters</mat-hint>
          <input matInput class="input" [(ngModel)]="userData.Password" placeholder="Password" type="password"
            name="Password" required />
        </mat-form-field>

        <mat-form-field>
          <input matInput class="input" [(ngModel)]="userData.Email" placeholder="Email" type="email" name="Email"
            required />
        </mat-form-field>

        <mat-form-field>
          <input matInput [(ngModel)]="userData.Birthday" placeholder="Birthday" type="date" name="Birthday" required />
        </mat-form-field>

      </form>

    </mat-card-content>
    <mat-card-actions class="update-button-container">
      <button mat-raised-button (click)="editUser()" class="update-button" color="warn">
        Submit
      </button>

      <button mat-raised-button (click)="deleteUser()" class="update-button" color="warn">
        Delete account
      </button>

    </mat-card-actions>
  </mat-card>

  <h1 class="favorite-movies-heading">Your Favorite Movies</h1>
  <div class="no-favorites"></div>
  <div class="container">
    <mat-card *ngFor="let movie of favoriteMovies; let i = index" class="card active">
      <mat-icon (click)="deleteFavoriteMovie(movie._id, movie.Title, i)">
        favorite
      </mat-icon>

      <mat-card-header class="card-header">
        <mat-card-title class="card-title">{{ movie.Title }}</mat-card-title>
      </mat-card-header>

      <img src="{{ movie.ImagePath }}" alt="{{ movie.Title }}" class="card-image" />

      <mat-card-actions>
        <button mat-button (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)" color="primary">
          Genre
        </button>

        <button mat-button (click)="openDirectorDialog(movie.Director.Name, movie.Director.Bio, movie.Director.Birth)"
          color="primary">
          Director
        </button>

        <button mat-button (click)="openDetailsDialog(movie.Description, movie.ImagePath, movie.Title)" color="primary">
          Synopsis
        </button>

      </mat-card-actions>
    </mat-card>
  </div>
</div>